<div class="container">
  <div class="movie-container">
    <div class="title">Interestelar</div>
    <div class="description">
      <p>
        Al ver que la vida en la Tierra está llegando a su fin, un grupo de exploradores <br>
        dirigidos por el piloto Cooper y la científica Amelia <br>
        emprende una misión que puede ser la más importante de la historia de <br>
        la humanidad: viajar más allá de nuestra galaxia para descubrir algún planeta en <br>
        otra que pueda garantizar el futuro de la raza humana.
      </p>

      <br>

      <p>
        Genero: Ciencia Ficcion
        <br>
        Duración: 2h
        <br>
        Fecha estreno: 15/06/25
      </p>
    </div>
    <button>Comprar boleto(s)</button>
    <img src="../../../../assets/2/main.jpg" alt="">

    <a href="/index">Volver</a>
  </div>
</div>
