<div class="container">
  <div class="movie-container">
    <div class="title">Avengers</div>
    <h3>Infinity War</h3>
    <div class="description">
      <p>
        El poderoso Thanos, decidido a hacerse con las Gemas del Infinito para controlar el universo,<br>
        ataca la nave en la que huyen los supervivientes de Asgard. <br> Su intención es hacerse
        con la segunda de las gemas, ahora en manos de Loki. <br>
        Los superhéroes se alían para vencer al poderoso Thanos,<br> el peor enemigo al que
        se han enfrentado. Si Thanos logra reunir las seis gemas del infinito: <br> poder, tiempo,
        alma, realidad, mente y espacio, nadie podrá detenerlo.
      </p>

      <br>

      <p>
        Genero: Acción
        <br>
        Duración: 2h
        <br>
        Fecha estreno: 15/06/25
      </p>
    </div>
    <button>Comprar boleto(s)</button>
    <img src="../../../../assets/3/infi.jpg" alt="">

    <a href="/index">Volver</a>
  </div>
</div>
