<section class="container">
  <div class="slider-wrapper">
    <div class="slider">
      <div class="images">
        <a href="/movies/1">
          <img src="../../../assets/1/john01.jpg" id="slide-1" alt="">
        </a>
      </div>

      <img src="../../../assets/2/Aven.jpg" id="slide-2" alt="">

      <img src="../../../assets/3/infi.jpg" id="slide-3" alt="">

      <img src="../../../assets/4/exor.jpg" id="slide-4" alt="">
    </div>

    <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
      <a href="#slide-4"></a>
    </div>
  </div>
</section>
