<div class="container">
  <div class="movie-container">
    <div class="title">John Wick</div>
    <h3>Capítulo 4</h3>
    <div class="description">
      <p>
        Con una recompensa de 14 millones de dólares por su cabeza, John Wick (Keanu Reeves)<br> está en plena huída.
        Después de haber roto la regla de matar a alguien en el interior del Hotel Continental,<br> John Wick debería haber sido ejecutado.
        Excomunicado, con su membresía revocada, todavía dispone<br> de una hora de ventaja para poder huir. A partir de ese tiempo, <br>
        hombres y mujeres sicarios de todo el mundo tratarán de detenerle, eso sí,<br> encontrará una aliada que sigue creyendo en él.
      </p>

      <br>

      <p>
        Genero: Acción
        <br>
        Duración: 2h
        <br>
        Fecha estreno: 15/06/25
      </p>
    </div>

    <a href="/sala/1" class="sala_1">Comprar boleto(s)</a>

    <img src="../../../../assets/1/john01.jpg" alt="">

    <a href="/index">Volver</a>
  </div>
</div>
