<div class="container">
  <div class="movie-container">
    <div class="title">La La Land</div>
    <div class="description">
      <p>
        Chico conoce a chica. Dos aspirantes a artistas se saltan las costumbres de la vida <br>
        cotidiana mientras La ciudad de las estrellas - LA LA LAND nos lleva <br>
        por un exuberante recorrido musical a través del romance que cambiará la vida <br>
        de un pianista de jazz y de una actriz en ciernes. La película es un canto <br>
        al glamour y a la emoción del cine clásico, una carta de amor a Los Ángeles, <br>
        ciudad de los sueños eternos, y también un romance moderno que reúne a <br>
        Ryan Gosling y a Emma Stone a las órdenes del realizador Damien Chazelle
      </p>

      <br>

      <p>
        Genero: Romance
        <br>
        Duración: 2h
        <br>
        Fecha estreno: 15/06/25
      </p>
    </div>
    <button>Comprar boleto(s)</button>
    <img src="../../../../assets/5/poster.jpg" alt="">

    <a href="/index">Volver</a>
  </div>
</div>
